/* fonts */

@font-face {
    font-family: "Raleway-regular";
    src: url(/furniture/fonts/Raleway-Regular.ttf)
}

@font-face {
    font-family: "Raleway-medium";
    src: url(/furniture/fonts/Raleway-Medium.ttf)
}

@font-face {
    font-family: "Raleway-bold";
    src: url(/furniture/fonts/Raleway-Bold.ttf)
}

@font-face {
    font-family: "Raleway-semibold";
    src: url(/furniture/fonts/Raleway-SemiBold.ttf)
}

@font-face {
    font-family: "Raleway-black";
    src: url(/furniture/fonts/Raleway-Black.ttf)
}


/* colors */

:root {
    --primary: #EEBF00;
    --secondary: #232B38;
    --ternary: #6C6C6C;
    --danger: #FE4545;
    --pure: #FEFEFE;
    --light: #F0F0F0;
    --heaven: #FFFFFF;
    --footer: #2D333F;
}


/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialising;
    height: 400px;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1152px;
    }
}


/* @media (min-width:7) */

header.topbar {
    background: var(--secondary);
    color: var(--pure);
    font-family: "Raleway-semibold";
    padding: 0.75rem 0;
}

header.topbar .icons a {
    margin-right: 0.6rem;
}

header.topbar .auth .divider {
    padding: 0 1rem;
}

header.topbar .auth>div a {
    color: var(--pure);
    text-decoration: none;
}

header.topbar .auth>div img {
    margin-right: 0.35rem;
}

header.topbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* utility class */

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.item-center {
    align-items: center;
}

nav .topclass .contact h5 {
    font-family: Raleway-semibold;
    margin-bottom: 0.25rem;
}

nav .topclass .contact h6 {
    font-family: Raleway-medium;
    margin-bottom: 0.25rem 0;
}

nav .topclass {
    padding: 1.5rem 0;
}

nav .topclass img {
    margin-right: 1rem;
}

.justify-centre {
    justify-content: center;
}

nav .navbar a {
    text-decoration: none;
    color: var(--secondary);
    font-family: "Raleway-semibold";
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition: all .3s ease;
    /* -webkit-transition: all .3s ease; */
    /* -moz-transition: all .3s ease; */
    /* -ms-transition: all .3s ease; */
    /* -o-transition: all .3s ease; */
}

nav .navbar a.active {
    background: var(--primary);
    color: var(--pure);
}

nav .navbar a:hover {
    background: var(--primary);
}

.magic-shadow {
    position: relative;
    background: var(--heaven);
}

.magic-shadow:after {
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow.svg);
    bottom: -22px;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    background-position: center;
}

header.hero {
    height: 600px;
    background-image: url(../images/hero.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow: hidden;
    /* position: relative; */
}

header.hero .container {
    position: relative;
}

header.hero .welcome span {
    color: #EEBF00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 0.75rem;
}

header.hero h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary);
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
}

header.hero h1 span {
    color: var(--primary);
}

header.hero p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50%;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3sec ease;
    border: 1px solid transparent;
}

.btn-primary {
    background: var(--primary);
    color: var(--heaven);
}

.btn-primary:hover {
    background: var(--heaven);
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-secondary {
    background: var(--secondary);
    color: var(--heaven);
}

.btn-secondary:hover {
    background: var(--heaven);
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

header.hero button:first-child {
    margin-right: 0.50rem;
}

header.hero .hero-image {
    position: absolute;
    top: -40px;
    right: 40px;
    margin-bottom: 0.75rem;
}

section {
    padding: 4rem 0;
}

section.top-product {
    background: var(--light);
}

.section-heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position: relative;
    margin-bottom: 4rem;
}

.section-heading:after {
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background-image: url(../icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -40px;
}

section.top-product .food-slider .food-card {
    background: var(--heaven);
    padding: 1.5rem 0;
    border-radius: 4px;
}

section.top-product .food-slider .food-card .product-image img {
    width: 80%;
    height: 200px;
    padding-bottom: 1rem;
    object-fit: contain;
}

hr {
    border: 1px solid var(--light);
    opacity: 0.8;
    margin: 1rem 0;
}

section.top-product .food-slider .food-card h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
}

.text-centre {
    text-align: center;
}

section.top-product .food-slider .food-card .stars img {
    margin-right: 0.25rem;
    /* margin-bottom: ; */
}

section.top-product .food-slider .food-card .stars {
    margin-bottom: 0.5rem;
}

section.top-product .food-slider .food-card .price {
    color: var(--danger);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

section.top-product .food-slider .food-card button {
    font-family: 'Times New Roman', Times, serif;
    color: var(--secondary);
    background: #FFFFFF;
    border: 2px solid var(--primary);
    border-radius: 6px;
    display: flex;
    width: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

section.top-product .food-slider .food-card button:hover {
    background: var(--primary);
}

.food-slider .food-card button img {
    background: var(--primary);
    padding: 0.50rem;
    height: 32px;
    margin-right: 1.2rem;
}

section.top-product .food-slider .food-card span {
    text-align: justify;
    font-size: 20px;
    margin-top: 4px;
}

.slick-slide {
    margin: 0 27px;
}

.slick-list {
    margin: 0 -27px;
}